export(new_rating_plan)
export(example_rating_plan)
export(make_empty_slots)
export(ensure_slot_columns)
export(populate_slots)
export(apply_rounding)
export(validate_rating_plan)
export(validate_factor_table)
export(validate_rating_spec)
export(validate_rate_sets)
export(validate_policy_data)
export(required_policy_fields)
export(rate_policies)
export(rate_policies_with_trace)
export(rate_one_row_one_coverage)
export(lookup_factor_value)
export(lookup_exact_value)
export(lookup_interpolated_value)
export(lookup_term_value)
export(rate_entities)
export(score_entity_rows)
export(aggregate_entity_values)
export(average_entity_factors)
export(join_entity_values)
export(join_entity_factors)
export(apply_caps)
export(rate_set_to_tables)
export(trace_to_wide_factors)
export(trace_to_excel_style)
export(append_rating_factors)
export(explain_rating)
S3method(print,rating_plan)
S3method(summary,rating_plan)
